@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*
------------------------------------------------------------
Project Name : Vs Landing 10;
------------------------------------------------------------
*/
/* Reset 
--------------------------------------------------------------------------------------------------------*/
/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
* {
  outline: none !important;
}

.window-resizing *,
body:not(.page-loaded) * {
  transition: none !important;
}

a {
  transition: all 0.3s;
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #f8f8f8;
  color: #666666;
}

.wrapper {
  min-height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #999;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  padding: 0;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

p {
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  appearance: none;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option:not(:checked) {
  color: black;
}

/* Common CSS
--------------------------------------------------------------------------------------------------------*/
.theme-icon.stroke {
  stroke: #5046b9;
}

.theme-icon.fill {
  fill: #5046b9;
}

.logo {
  display: block;
}

.logo img,
.logo svg {
  display: block;
}

.text-primary {
  color: #5046b9 !important;
}

.text-warning {
  color: #ff902a !important;
}

.info-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 14px;
  overflow: hidden;
}

.title {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  overflow: hidden;
}

.overline {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin: 14px auto 60px;
  overflow: hidden;
}

.overline .block {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  border-radius: 4px;
  background: rgba(80, 70, 185, 0.5);
  display: block;
}

.overline .block:nth-of-type(2) {
  margin-right: -2px;
  margin-left: 10px;
}

.overline .block:nth-of-type(3) {
  margin-left: -2px;
  margin-right: 10px;
}

.overline span:not(.block) {
  flex-grow: 1;
  height: 1px;
  background-color: #5046b9;
}

.btn {
  box-shadow: none !important;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: rgba(80, 70, 185, 0.08);
}

.btn-outline-primary {
  border-color: #5046b9;
  border-width: 2px;
  color: #5046b9;
  padding: 6px 16px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-outline-primary::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: rgba(80, 70, 185, 0.08);
  transition: all 300ms ease;
  z-index: -1;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: transparent;
  border-color: #5046b9;
  color: #5046b9;
}

.btn-outline-primary:hover::after, .btn-outline-primary:focus::after, .btn-outline-primary:active::after {
  width: 100%;
}

.btn-primary {
  border-color: #5046b9;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  background-color: #5046b9;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-primary::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: #1c118b;
  transition: all 300ms ease;
  z-index: -1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #5046b9;
  border-color: #1c118b;
}

.btn-primary:hover::after, .btn-primary:focus::after, .btn-primary:active::after {
  width: 100%;
}

.photo-block .photo-inner {
  position: relative;
  width: 350px;
}

.photo-block .profile {
  display: block;
  height: 100%;
  max-width: 100%;
}

.photo-block .bg-layer {
  background-color: #5046b9;
  width: 270px;
  height: 338px;
  position: absolute;
  bottom: -8px;
  z-index: -1;
}

.photo-block .bg-dots {
  position: absolute;
  z-index: -1;
  top: -28px;
}

.photo-block .bg-dots.dir-left {
  left: 0;
}

.photo-block .bg-dots.dir-right {
  right: 0;
}

.photo-block .bg-lines {
  position: absolute;
  z-index: -1;
  bottom: -36px;
}

.photo-block .bg-lines.dir-left {
  left: 0;
}

.photo-block .bg-lines.dir-right {
  right: 0;
}

.photo-block.layer-b-r .bg-layer {
  right: 0;
  border-bottom-right-radius: 110px;
}

.photo-block.layer-b-l .bg-layer {
  left: -2px;
  border-bottom-left-radius: 110px;
}

.progress-block {
  width: 120px;
  margin: 16px auto;
}

.progress-circle {
  position: relative;
}

.progress-circle svg {
  stroke-width: 6px;
}

.progress-circle .progressbar-text {
  color: #5046b9 !important;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.p-info {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding-top: 20px;
  max-width: 115px;
  margin: 0 auto;
}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  z-index: 4;
  transition: all 300ms ease;
}

.header .navbar-brand {
  margin: 5px 0 0;
  padding: 0;
  display: block;
}

.header .container-fluid {
  max-width: 1384px;
  justify-content: flex-start;
}

.header .navbar-brand > img {
  display: block;
}

.header .navbar .nav-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 8px 17px;
}

.header .navbar .nav-link.active {
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.08);
}

.header .navbar-nav .nav-link span {
  display: block;
  position: relative;
}

.header .navbar-nav .nav-link span::after {
  content: "";
  position: absolute;
  display: none;
  height: 2px;
  background-color: #333333;
  width: 0;
  left: 50%;
  transition: all 300ms ease;
}

.header .navbar-nav .nav-link:hover:not(.active) span:after {
  width: 100%;
  left: 0;
}

.header .navbar-nav .nav-link:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.08);
}

.header .navbar-toggler {
  width: 42px;
  height: 42px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.header .navbar-toggler img,
.header .navbar-toggler svg {
  display: block;
  width: 20px;
  height: 20px;
}

.header .btn-wrap {
  margin-left: auto;
}

.header .logo img,
.header .logo svg {
  height: 34px;
}

.page-scrolled .header {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  background-color: #ffffff;
}

.offcanvas {
  background-color: #5046b9;
}

.offcanvas .offcanvas-body {
  padding-left: 0;
  padding-right: 0;
}

.offcanvas.offcanvas-start {
  width: 260px;
}

.offcanvas .offcanvas-header {
  padding: 8px;
}

.offcanvas .offcanvas-header .btn-close {
  margin-left: auto;
  background-image: url("../images/ic-close-white.svg");
  background-size: 34px;
  opacity: 1;
  width: 32px;
  height: 32px;
}

.offcanvas .offcanvas-header .btn-close:hover, .offcanvas .offcanvas-header .btn-close:focus, .offcanvas .offcanvas-header .btn-close:active {
  background-color: rgba(0, 0, 0, 0.08);
}

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.main-content {
  padding-top: 110px;
}

/* Hero
--------------------------------------------------------------------------------------------------------*/
.hero {
  padding: 30px 0;
  overflow: hidden;
}

.hero .hero-content {
  overflow: hidden;
}

.hero .hero-content h2 {
  color: #222222;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.hero .hero-content h2 span {
  display: inline;
}

.hero .hero-content .info {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  text-align: center;
}

.hero .hero-content .btn {
  margin: 0 auto;
  display: block;
}

.hero .hero-showcase {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  transform: scale(0.8) !important;
}

.hero .hero-showcase .showcase-inner {
  margin: auto;
  display: flex;
  gap: inherit;
  position: relative;
}

.hero .hero-showcase .showcase-inner:first-child {
  align-items: flex-end;
}

.hero .hero-showcase .bg-layer {
  background-color: #5046b9;
  position: absolute;
  z-index: -1;
}

.hero .hero-showcase .bg-dots-top {
  position: absolute;
  top: 0;
  right: -60px;
  z-index: -1;
}

.hero .hero-showcase .bg-dots-bottom {
  position: absolute;
  bottom: 0;
  left: -70px;
  z-index: -1;
}

.hero .hero-showcase .top-left {
  position: relative;
}

.hero .hero-showcase .top-left img {
  display: block;
  max-width: 100%;
}

.hero .hero-showcase .top-left .bg-layer {
  width: 120px;
  height: 120px;
  border-radius: 80px 0 0 0;
  top: -20px;
  left: -20px;
}

.hero .hero-showcase .top-right {
  position: relative;
}

.hero .hero-showcase .top-right img {
  display: block;
  max-width: 100%;
}

.hero .hero-showcase .top-right .bg-layer {
  width: 80px;
  height: 80px;
  top: -12px;
  right: -12px;
}

.hero .hero-showcase .bottom-left {
  position: relative;
  height: 100%;
}

.hero .hero-showcase .bottom-left img {
  display: block;
  max-width: 100%;
}

.hero .hero-showcase .bottom-left .bg-layer {
  width: 80px;
  height: 80px;
  bottom: -12px;
  left: -12px;
}

.hero .hero-showcase .bottom-right {
  position: relative;
}

.hero .hero-showcase .bottom-right img {
  display: block;
  max-width: 100%;
}

.hero .hero-showcase .bottom-right .bg-layer {
  width: 120px;
  height: 120px;
  border-radius: 0 0 80px 0;
  bottom: -19px;
  right: -16px;
}

.what-we-do {
  padding: 30px 0;
  overflow: hidden;
}

.what-we-do .card-outer {
  position: relative;
  padding-top: 40px;
}

.what-we-do .card-outer .img-block {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 0;
}

.what-we-do .card-outer .img-block img {
  display: block;
}

.mini-card {
  border-radius: 20px 20px 100px 20px;
  background: #fff;
  box-shadow: 0px 7px 29px 0px rgba(110, 110, 111, 0.2);
  padding: 80px 46px 40px 40px;
  overflow: hidden;
  border: 0;
  position: relative;
}

.mini-card .card-title {
  color: #222222;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 8px;
}

.mini-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  right: 0;
  height: 1px;
  background-color: #5046b9;
  transition: all 300ms ease;
}

.mini-card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #5046b9;
  top: 0;
  left: 0;
  right: 0;
  transition: all 300ms ease;
}

.mini-card:hover::after {
  width: 100%;
}

.mini-card:hover::before {
  width: 100%;
}

.about-us {
  padding: 30px 0;
  overflow: hidden;
}

.about-us .title {
  text-align: center;
  padding-bottom: 20px;
}

.about-us .info-title {
  text-align: center;
}

.about-us .section-info {
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

.about-us ul {
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.about-us ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 0;
}

.about-us .photo-block .photo-inner {
  margin: 0 auto 80px;
}

.about-us .about-us-content {
  overflow: hidden;
}

.capabilities {
  padding: 30px 0;
  overflow: hidden;
}

.capabilities .title {
  text-align: center;
  padding-bottom: 20px;
}

.capabilities .info-title {
  text-align: center;
}

.capabilities .section-info {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.capabilities .photo-block .photo-inner {
  margin: 0 auto 60px;
}

.our-services {
  padding: 60px 0;
  background: url("../images/bg-service.svg") center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.our-services .title {
  padding-bottom: 24px;
}

.our-services .data-icon {
  display: block;
  margin: 0 auto 20px;
}

.our-services .service-data {
  text-align: center;
  color: #ffffff;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
}

.our-services .data-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

/* Product
--------------------------------------------------------------------------------------------------------*/
.product {
  padding: 42px 0 76px;
  overflow: hidden;
}

.product .filter-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 44px;
}

.product .filter-menu li {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 4px;
  color: #444444;
  padding: 5px 30px;
  border-radius: 30px;
  white-space: nowrap;
  width: 50%;
}

.product .filter-menu li:hover {
  color: #5046b9;
}

.product .filter-menu li.current {
  color: #ffffff;
  background-color: #5046b9;
}

.product .container {
  max-width: 1384px;
}

.product .filter-item {
  columns: 1;
  column-gap: 16px;
}

.product .filter-item li {
  background-color: #edf3f3;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  border: 0;
  border-radius: 0;
}

.product .filter-item li .list-block {
  display: block;
  position: relative;
  overflow: hidden;
}

.product .filter-item li .list-block img {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.product .filter-item li .list-block .block-inner {
  position: absolute;
  inset: 0;
  bottom: -50%;
  padding: 25px 38px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  opacity: 0;
  transition: all 300ms ease;
}

.product .filter-item li .list-block .block-inner span {
  border-radius: 28px;
  background: #ff902a;
  padding: 5px 16px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: auto;
  display: block;
  width: max-content;
}

.product .filter-item li .list-block .block-inner h4 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 10px;
  margin-top: auto;
}

.product .filter-item li .list-block .block-inner p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 20px;
}

.product .filter-item li .list-block .block-inner a {
  display: flex;
  align-items: center;
  color: #ff912b;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.product .filter-item li .list-block .block-inner a:hover {
  text-decoration: underline;
}

.product .filter-item li .list-block .block-inner a img {
  display: block;
  margin-left: 8px;
  width: 20px;
  height: 20px;
}

.product .filter-item li .list-block::after {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.74);
  transition: all 300ms ease;
  opacity: 0;
}

.product .filter-item li .list-block:hover::after {
  opacity: 1;
}

.product .filter-item li .list-block:hover .block-inner {
  opacity: 1;
  bottom: 0;
}

.product li.active {
  transition: all 0.5s ease;
}

.product li.delete {
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
  display: none;
}

.grid-item {
  width: 100%;
  margin-bottom: 12px;
}

.testimonials {
  padding: 60px 0;
  overflow: hidden;
}

.testimonials .container {
  max-width: 1140px;
}

.testimonials .slider-container {
  position: relative;
}

.testimonials .slider-container .chat-icon {
  position: absolute;
  left: 50%;
  top: -37px;
  transform: translateX(-50%);
  z-index: 1;
}

.testimonials .slider-container .bg-line {
  position: absolute;
  right: 0;
  top: -50px;
}

.testimonials .slider-container .bg-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: -1;
}

.testimonials .overline {
  margin-bottom: 124px;
}

.slider-content .slick-track {
  border-radius: 40px;
  height: auto;
}

.slider-content .slider-card {
  border-radius: 40px;
  text-align: center;
  position: relative;
  height: auto;
}

.slider-content .slider-card .triangle-wrap {
  padding-bottom: 40px;
}

.slider-content .slider-card .triangle,
.slider-content .slider-card .triangle:before,
.slider-content .slider-card .triangle:after {
  width: 4em;
  height: 4em;
}

.slider-content .slider-card .triangle {
  position: relative;
  overflow: hidden;
  margin: -44px auto 0;
  border-radius: 20%;
  transform: translateX(-14px) translateY(50%) rotate(90deg) skewY(30deg) scaleX(0.866);
  -webkit-transform: translateX(-14px) translateY(50%) rotate(90deg) skewY(30deg) scaleX(0.866);
  cursor: pointer;
  pointer-events: none;
  text-align: left;
}

.slider-content .slider-card .triangle:before,
.slider-content .slider-card .triangle:after {
  position: absolute;
  background: #ffffff;
  pointer-events: none;
  content: "";
}

.slider-content .slider-card .triangle:before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
  -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.slider-content .slider-card .triangle:after {
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
  -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.slider-content .slider-card .slider-inner {
  position: relative;
  padding: 44px 16px 24px;
  background-color: #ffffff;
  border-radius: 40px;
}

.slider-content .slider-card .slider-text {
  color: #666;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  line-height: 32px;
  max-width: 698px;
  margin: 0 auto 30px;
}

.slider-content .slider-card .username {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 6px;
}

.slider-content .slider-card .user-position {
  color: #7b7b7b;
  font-size: 13px;
  line-height: 20px;
}

.slider-thumb {
  width: 100%;
  max-width: 560px;
  margin: 0 auto 0;
}

.slider-thumb .img-outer img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.56;
  transition: all 300ms ease;
  cursor: pointer;
}

.slider-thumb .img-outer.slick-current img {
  width: 100px;
  height: 100px;
  opacity: 1;
}

.slider-thumb .img-outer.slick-current .img-inner {
  margin: 0 auto;
}

.slider-thumb .img-outer.slick-current .img-inner::after, .slider-thumb .img-outer.slick-current .img-inner::before {
  opacity: 1;
}

.slider-thumb .img-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.slider-thumb .img-inner::before, .slider-thumb .img-inner::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #dcdaf1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: all 300ms ease;
  transform-origin: center center;
}

.slider-thumb .img-inner::after {
  width: 120px;
  height: 120px;
  background-color: #eeedf8;
  z-index: -2;
}

.slider-thumb .slick-track {
  display: flex;
  align-items: center;
}

.slider-image-container {
  min-height: 116px;
}

.blog {
  padding: 60px 0;
  overflow: hidden;
}

.blog .row {
  --bs-gutter-y: 16px;
}

.blog .blog-card {
  position: relative;
  border: 0;
  z-index: 2;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow: hidden;
  transition: all 300ms ease;
}

.blog .blog-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.2) 100%);
  z-index: 0;
}

.blog .blog-card:hover .card-bg, .blog .blog-card:focus .card-bg {
  background-position: left center;
  background-size: 600px;
}

.blog .blog-card .card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 800ms ease;
  background-size: 520px;
  background-repeat: no-repeat;
  background-position: center center;
}

.blog .blog-card .card-bg img {
  display: block;
  max-width: 100%;
  height: 100%;
  position: absolute;
}

.blog .blog-card .card-content {
  margin-top: auto;
  z-index: 2;
}

.blog .blog-card .card-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 0;
  padding-bottom: 12px;
}

.blog .blog-card .card-info {
  color: #ffffff;
  opacity: 0.8;
  font-size: 15px;
  line-height: 26px;
  padding-bottom: 30px;
}

.blog .blog-card .inner-row {
  --bs-gutter-x: 14px;
  margin-bottom: 20px;
}

.blog .blog-card .info-wrap {
  display: flex;
  align-items: center;
}

.blog .blog-card .info-wrap img {
  display: block;
  margin-right: 4px;
}

.blog .blog-card .info-wrap h6 {
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  white-space: nowrap;
}

.blog .blog-card .read-more-link {
  display: flex;
  align-items: center;
  color: #ff902a;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.blog .blog-card .read-more-link:hover, .blog .blog-card .read-more-link:focus {
  text-decoration: underline;
}

.blog .blog-card .read-more-link img {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

.newsletter {
  padding: 60px 0 40px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.newsletter .bg-dots {
  position: absolute;
  display: block;
  top: -40px;
  left: -40px;
  z-index: -1 !important;
}

.newsletter .bg-line {
  position: absolute;
  display: block;
  bottom: 14px;
  right: -40px;
  z-index: -1;
}

.newsletter::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  background-color: #5046b9;
  z-index: -1;
}

.newsletter .title {
  padding-bottom: 40px;
  font-size: 40px;
  line-height: 60px;
}

.newsletter .newsletter-content {
  width: 100%;
  max-width: calc(100% - 24px);
  border-radius: 30px;
  box-shadow: 0px 7px 29px 0px rgba(110, 110, 111, 0.2);
  padding: 80px 16px 70px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

.newsletter .form-block {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.newsletter .form-block .form-control {
  height: 56px;
  max-width: 420px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: none;
  background-color: #e9e9e9;
  border: 0;
}

.newsletter .form-block .form-control:hover, .newsletter .form-block .form-control:focus {
  border-color: #5046b9;
}

.newsletter .form-block .btn {
  width: 100%;
  max-width: 420px;
  height: 56px;
}

/* Footer
--------------------------------------------------------------------------------------------------------*/
.footer {
  background-color: #5046b9;
  overflow: hidden;
}

.footer .container {
  padding-top: 40px;
}

.footer .logo {
  display: block;
  opacity: 1 !important;
}

.footer .footer-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 14px;
  text-align: center;
  padding-top: 30px;
}

.footer a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  align-items: flex-start;
  padding: 7px 0;
  transition: all 30ms ease;
  opacity: 0.8;
  width: max-content;
  margin: 0 auto;
}

.footer a:not(.logo) > img {
  display: block;
  height: 15px;
  margin-right: 7px;
  margin-top: 4px;
}

.footer a:hover,
.footer a:focus {
  color: #ff902a;
}

.footer .contact-us a {
  max-width: 260px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.footer .copyright {
  text-align: center;
  color: #ffffff;
  padding: 20px 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  opacity: 0.8;
}

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (min-width: 576px) {
  .product .filter-item {
    columns: 2;
  }
  .product .filter-menu li {
    width: auto;
  }
  .testimonials .slider-container .bg-dots {
    bottom: 20%;
  }
}

@media (min-width: 768px) {
  .product .filter-item {
    columns: 3;
  }
  .blog .blog-card {
    padding: 20px;
    height: 616px;
  }
  .blog .blog-card .card-bg {
    background-size: 500px;
  }
  .slider-content .slider-card .slider-inner {
    padding: 75px 16px 50px;
  }
  .newsletter .form-block {
    flex-direction: row;
  }
  .newsletter .form-block .btn {
    max-width: 208px;
    white-space: nowrap;
  }
  .testimonials .slider-container .bg-dots {
    bottom: 0;
  }
}

@media (min-width: 992px) {
  .btn-outline-primary {
    padding: 8px 22px;
  }
  .btn-primary {
    padding: 12px 36px;
  }
  .info-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 14px;
  }
  .title {
    font-size: 48px;
    line-height: 72px;
  }
  .photo-block .photo-inner {
    position: relative;
    width: 450px;
  }
  .photo-block .profile {
    display: block;
    height: 545px;
  }
  .photo-block .bg-layer {
    background-color: #5046b9;
    width: 270px;
    height: 338px;
    position: absolute;
    bottom: -8px;
    z-index: -1;
  }
  .photo-block .bg-dots {
    position: absolute;
    z-index: -1;
    top: -40px;
  }
  .photo-block .bg-dots.dir-left {
    left: -40px;
  }
  .photo-block .bg-dots.dir-right {
    right: -28px;
  }
  .photo-block .bg-lines {
    position: absolute;
    z-index: -1;
    bottom: -36px;
  }
  .photo-block .bg-lines.dir-left {
    left: -60px;
  }
  .photo-block .bg-lines.dir-right {
    right: -40px;
  }
  .photo-block.layer-b-r .bg-layer {
    right: -8px;
    border-bottom-right-radius: 110px;
  }
  .photo-block.layer-b-l .bg-layer {
    left: -10px;
    border-bottom-left-radius: 110px;
  }
  .header .navbar-nav {
    margin-left: auto;
    margin-right: 20px;
  }
  .header .navbar-nav .nav-link {
    color: #333333;
  }
  .header .navbar-nav .nav-link.active {
    color: #5046b9;
  }
  .header .navbar-nav .nav-link span::after {
    display: block;
  }
  .header .navbar-nav .nav-link:hover:not(.active) {
    background-color: transparent;
  }
  .hero .container {
    max-width: 1372px;
  }
  .hero .hero-content {
    padding-top: 40px;
  }
  .hero .hero-content h2 {
    font-size: 54px;
    line-height: 74px;
    text-align: left;
  }
  .hero .hero-content .info {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }
  .hero .hero-content .btn {
    margin-left: 0;
  }
  .hero .hero-showcase {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 0;
    transform: scale(1) !important;
  }
  .hero .hero-showcase .showcase-inner {
    margin-left: auto;
    display: flex;
    gap: inherit;
    position: relative;
  }
  .hero .hero-showcase .showcase-inner:first-child {
    align-items: flex-end;
    margin-right: 60px;
  }
  .hero .hero-showcase .bg-layer {
    background-color: #5046b9;
    position: absolute;
    z-index: -1;
  }
  .hero .hero-showcase .bg-dots-top {
    position: absolute;
    top: 0;
    right: -60px;
    z-index: -1;
  }
  .hero .hero-showcase .bg-dots-bottom {
    position: absolute;
    bottom: 0;
    left: -70px;
    z-index: -1;
  }
  .hero .hero-showcase .top-left {
    position: relative;
  }
  .hero .hero-showcase .top-left img {
    display: block;
    max-width: 100%;
  }
  .hero .hero-showcase .top-left .bg-layer {
    width: 200px;
    height: 200px;
    border-radius: 80px 0 0 0;
    top: -12px;
    left: -12px;
  }
  .hero .hero-showcase .top-right {
    position: relative;
  }
  .hero .hero-showcase .top-right img {
    display: block;
    max-width: 100%;
  }
  .hero .hero-showcase .top-right .bg-layer {
    width: 180px;
    height: 180px;
    top: -12px;
    right: -12px;
  }
  .hero .hero-showcase .bottom-left {
    position: relative;
    height: 206px;
  }
  .hero .hero-showcase .bottom-left img {
    display: block;
    max-width: 100%;
  }
  .hero .hero-showcase .bottom-left .bg-layer {
    width: 180px;
    height: 180px;
    bottom: -10%;
    left: -12px;
  }
  .hero .hero-showcase .bottom-right {
    position: relative;
  }
  .hero .hero-showcase .bottom-right img {
    display: block;
    max-width: 100%;
  }
  .hero .hero-showcase .bottom-right .bg-layer {
    width: 200px;
    height: 200px;
    border-radius: 0 0 80px 0;
    bottom: -12px;
    right: -12px;
  }
  .about-us {
    padding: 100px 0;
  }
  .about-us .title {
    text-align: left;
  }
  .about-us .info-title {
    text-align: left;
  }
  .about-us .section-info {
    text-align: left;
  }
  .about-us .photo-block .photo-inner {
    margin: 0;
    margin-left: auto;
  }
  .about-us ul {
    margin-left: 0;
  }
  .capabilities {
    padding: 30px 0 60px;
  }
  .capabilities .photo-block .photo-inner {
    margin: 0;
    margin-right: auto;
  }
  .capabilities .title {
    text-align: left;
  }
  .capabilities .info-title {
    text-align: left;
  }
  .capabilities .section-info {
    text-align: left;
  }
  .our-services {
    padding: 140px 0 124px;
  }
  .our-services .title {
    text-align: left;
  }
  .our-services .info-title {
    text-align: left;
  }
  .our-services .inner-row {
    border-left: 1px solid #ffffff;
  }
  .product {
    padding: 42px 0 30px;
  }
  .testimonials {
    padding: 30px 0;
  }
  .blog .blog-card {
    padding: 30px;
  }
  .footer .container {
    padding-top: 60px;
  }
  .footer .row {
    padding-bottom: 52px;
  }
  .footer .footer-title {
    text-align: left;
    padding-top: 0;
  }
  .footer a {
    margin-left: 0;
  }
  .footer .contact-us a {
    max-width: 240px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .photo-block .profile {
    height: 584px;
  }
  .header {
    padding: 44px 0;
  }
  .header .logo img,
  .header .logo svg {
    height: 42px;
  }
  .header .btn-outline-primary {
    width: 277px;
  }
  .header .navbar-nav {
    margin-right: 140px;
  }
  .main-content {
    padding-top: 152px;
  }
  .hero {
    padding: 30px 0 100px;
  }
  .hero .hero-showcase .top-left .bg-layer {
    width: 280px;
    height: 280px;
    top: -12px;
    left: -12px;
  }
  .hero .hero-showcase .top-right .bg-layer {
    width: 210px;
    height: 210px;
    top: -12px;
    right: -12px;
  }
  .hero .hero-showcase .bottom-left .bg-layer {
    width: 210px;
    height: 210px;
    top: 22px;
    left: -12px;
  }
  .hero .hero-showcase .bottom-right .bg-layer {
    width: 280px;
    height: 280px;
    bottom: -12px;
    right: -12px;
  }
  .hero .hero-content {
    padding-top: 60px;
  }
  .hero .hero-content .info {
    max-width: 644px;
    margin-bottom: 70px;
  }
  .what-we-do {
    padding: 140px 0;
  }
  .what-we-do .overline {
    margin-bottom: 90px;
  }
  .what-we-do .container {
    max-width: 1372px;
  }
  .what-we-do .mini-card p {
    line-height: 26px;
  }
  .about-us {
    padding: 36px 0 100px;
  }
  .about-us .about-us-content {
    padding-top: 90px;
  }
  .about-us .container {
    max-width: 1372px;
  }
  .about-us .title {
    max-width: 600px;
    padding-bottom: 12px;
  }
  .about-us .section-info {
    max-width: 556px;
    line-height: 26px;
  }
  .about-us .photo-block {
    margin-right: 84px;
  }
  .about-us ul {
    padding-top: 22px;
  }
  .capabilities {
    padding: 94px 0 232px;
  }
  .capabilities .capabilities-content {
    padding-top: 40px;
  }
  .capabilities .container {
    max-width: 1372px;
  }
  .our-services .container {
    max-width: 1372px;
  }
  .our-services .title {
    font-size: 64px;
    line-height: 80px;
  }
  .our-services .inner-row {
    padding-left: 56px;
  }
  .product {
    padding: 204px 0 100px;
  }
  .product .overline {
    margin-bottom: 90px;
  }
  .product .filter-menu {
    max-width: 1008px;
    margin: 0 auto;
    margin-bottom: 60px;
    justify-content: space-between;
  }
  .testimonials {
    padding: 100px 0;
  }
  .testimonials .slider-container .bg-line {
    right: -50px;
    top: -50px;
  }
  .testimonials .slider-container .bg-dots {
    bottom: 20px;
    left: -30px;
  }
  .testimonials .overline {
    margin-bottom: 124px;
  }
  .blog {
    padding: 110px 0;
  }
  .blog .overline {
    margin-bottom: 90px;
  }
  .blog .container {
    max-width: 1372px;
  }
  .newsletter {
    padding: 90px 0 40px;
  }
  .newsletter .newsletter-content {
    max-width: 1130px;
  }
  .newsletter::before {
    height: 222px;
  }
  .newsletter .bg-line {
    right: -60px;
  }
  .progress-block {
    margin: 0;
  }
  .footer .contact-us a {
    max-width: 260px;
  }
}
/*# sourceMappingURL=style.css.map */